@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/* font-family: 'Roboto'; */

/* font-family: 'IBM Plex Mono'; */

/* font-family: 'Satisfy'; */

* {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: 8vh;
    display: block;
    padding: 1vh 0px 10vh 0px;
    
}

header {
    background-image: url('../img/huntington.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    /* margin: */
}

header h1 {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 35.84px;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 5vh;
    padding-top: 10vh;
    text-shadow:black ;
}

header h2 {
    color: white;
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
    border-bottom: 40vh;
    font-style: italic;
    background-position-x:50%;
    background-position-y: 75%;
    
}




h3 {
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* #zen-preamble, #zen-summary, #zen-supporting,#zen-explanation,#zen-participation,#zen-benefits,#zen-requirements {
    background-image: url(../img/bamboo.png);
} */

body {
    font-family: sans-serif;
    color: grey;
    font-family: 'IBM Plex Mono';
}

#zen-summary {
    padding-top: 2vh;
}

a{
    text-decoration: none;
    color: grey;
}

p{
    padding-top: 1vh;
}

.participation, .benefits{
    background-color: rgba(4, 110, 4, 0.253);
    background-blend-mode: color;
    /* text-align: center; */
    background-image: url(../img/bamboo.png);
    color: white;
}
.participation{
    padding-bottom: 0;
    border-bottom: 0;
}

footer  {
    background-color: rgba(12, 80, 12, 0.979);
    text-align: center;
    height: 5vh;
    color: white;
}
footer a {
    color: white;
    padding: 0;
    font-size: 4vh;

}

p[role=contentinfo] {
    height: 12vh;
    background-color: rgba(4, 110, 4, 0.253);
    text-align: center;
}
p[role=contentinfo] a {
    color: white;
    font-family: 'Satisfy';
    font-size: 25px;
    text-align: center;
    
}

/* .design */